/*body{
    background-color: aqua;
}*/

/*RESPONSIVE*/

/*Media Screen*/
/*Cuando llegue a 700px cambia de color*/
/*@media screen and (min-width:700px) {
    body{
        background-color: red;
    }
}*/

header{
    background-color: red;
}

ul{
    list-style: none;
    padding: 0;
}

.fondo_celeste{
    background-color: aquamarine;
}

.fondo_rosa{
    background-color: rosybrown;
}

@media screen and (min-width: 600px) {
    
li{
    display: inline-block;
}    
}

@media screen and (min-width:250px) {
    article{
        display: inline-block;
        width: 49%;
    }
}

